name: DMFF's python tests.

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          source $CONDA/bin/activate
          $CONDA/bin/conda update -n base -c defaults conda
          conda install pip
          conda update pip
          conda install numpy openmm pytest rdkit biopandas openbabel -c conda-forge
          conda install -c conda-forge mdtraj
          pip install jax jaxlib networkx parmed pymbar==4.0.1
      - name: Install DMFF
        run: |
          source $CONDA/bin/activate
          pip install .
      - name: Run Tests
        run: |
          source $CONDA/bin/activate
          pytest -vs tests/     
